.hero__description {
  max-width: 70rem;
  max-height: 12rem;
  overflow-y: auto;
  margin-bottom: 7.7rem;
  @include font(400, 2rem, 120%);
}

@media (max-width:48em) {
  .hero__description {
    max-width: 100%;
    max-height: 30rem;
    @include font(400, 2.8rem, 120%);
  }
}